<form action="/getfaculty" method="GET">
  <label> Год
    <select name="year">
      <option selected>Выберите год</option>
      {{#each year}}
          <option value="{{id_a_year}}">{{{p32}}}</option>
      {{/each}}
    </select>
  <input type="submit" />
</form>

