<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<body>
  <div class="wrapper">
    <div>
      <select class="year">
        <option class="selected_year">0 ---</option>
      </select>
      <select class="faculty" hidden="true">
        <option class="selected_faculty">---</option>
      </select>
    </div>
    <div>
      <select class="educForm" hidden="true">
        <option class="selected_educForm">---</option>
      </select>
      <select class="speciality" hidden="true">
        <option class="selected_speciality">---</option>
      </select>
    </div>
  </div> 
  <div id="root">
  </div>

  <script type="text/x-handlebars-template" id="template"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="/scripts/script.js"></script>

</body>

</html>